@model LoginModel
@{
    ViewBag.Title = "Log In";
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="text-danger" asp-validation-summary="All"></div>
            <form class="border-dark" asp-action="Login" asp-controller="Account" method="post">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="form-group">
                    <label asp-for="Name">Имя</label>
                    <div><span asp-validation-for="Name" class="text-danger"></span></div>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Password">Пароль</label>
                    <div><span asp-validation-for="Password" class="text-danger"></span></div>
                    <input asp-for="Password" class="form-control" />
                </div>
                <button class="btn btn-primary" type="submit" style="width:140px">Войти</button>
            </form>
            <a class="btn btn-info mt-1" asp-action="Register" asp-controller="Account" style="width:140px">Регистрация</a>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>
