@model Order


<div class="container">
    <h2>Проверьте</h2>
    <p>Пожалуйста заполните данные, и мы вышлем заказ!</p>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="Checkout" method="post">
        <h3>Заказ на</h3>
        <div class="form-group">
            <label>Имя:</label><input asp-for="Name" class="form-control" />
        </div>
        <h3>Адрес</h3>
        <div class="form-group">
            <label>Адрес:</label><input asp-for="Address" class="form-control" />
        </div>

        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Complete Order" />
        </div>
    </form>
</div>