<div class="container">
    <h2>Спасибо!</h2>
    <p>Благодарим за размещение заказа.</p>
    <p>Мы отправим заказ как можно скорее.</p>
    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Order" asp-action="ToMainPage">Выйти</a>
    </div>
</div>